* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* header */
header {
    background: #111;
    color: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

/*hero*/
.hero {
    background: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
}

.hero button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background: #ff6600;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

/*produits */
.products {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
}

.product {
    border: 1px solid #ddd;
    width: 250px;
    padding: 20px;
    text-align: center;
}

.product img {
    width: 100%;
}

.product span {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

.product button {
    background: #111;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/*footer*/
footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 15px;
}
